@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

textarea {
    font-family: sans-serif;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #fafafa;
}

div {
    align-items: center;
}

div a {
    float: right;
    padding: 5px;
}

div p {
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    color: #c4c4c4
}

a i {
    color: black;
}