@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: #EEEEEE;
}

textarea {
    font-family: sans-serif;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #f3f3f3;
    background-color: #EEEEEE;
}

div {
    align-items: center;
}

div a {
    float: right;
    padding: 5px;
    cursor: pointer;
}

div a i:hover {
    color: dodgerblue;
}

div p {
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    color: #cccccc
}

a i {
    color: black;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 6px;
}